button:hover {
  color: blue;
}
button:active {
  color: #0099FF
}
#divgencost {
  display: inline-block;
}
#divbbcost {
  display: inline-block;
  text-indent: 2.25em;
}
#divspeedcost {
  display: inline-block;
  text-indent: 2.25em;
}
#counter {
  font-size: larger;
}
#alphacounter {
  font-size: larger;
}
#divmbupcost {
  display: inline-block;
  text-indent: 6.5em;
}
#divmbmultcost {
  display: inline-block;
  text-indent: 5.75em;
}
#divalphaacceleratorcost {
  display: inline-block;
}
#pcosttext {
  display: inline-block;
  text-indent: 4em;
}
#divgenboost {
  display: inline-block;
}
#divgbuptcost {
  display: inline-block;
  text-indent: 7.5em;
}
#divgbupmcost {
  display: inline-block;
  text-indent: 4.75em;
}
#divthreeboostcost {
  display: inline-block;
}
#divperbangcost {
  display: inline-block;
  text-indent: 7.25em;
}
#resetb {
  color: red
}
#resetb:hover {
  color: #FF00FF
}
#resetb:active {
  color: #0099FF
}
#stat {
  word-break:break-all;
}
#divunlockpca {
  display: inline-block;
}
#divupgradepcacost {
  display: inline-block;
  text-indent: 10em;
}
#divtogglepca {
  display: inline-block;
  text-indent: 1.75em;
}
#divboosterupcost {
  display: inline-block;
}
#divboosteruppercentcost {
  display: inline-block;
  text-indent: 15em;
}
#manboostsection {
  display: inline-flexbox;
}
#genboostsection {
  display: inline-flexbox;
}